

<div class='jumbotron text-center'>
    <div class='overlay'>

    </div>
    <div class='background-image'>

    </div>
    <div class='caption'>
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>

<div id='articles'>

</div>

<div class='text-center' id='notes'>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>